@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Reddit+Mono:wght@200..900&display=swap');
*{
    padding: 0;
    margin: 0;
}
/*@media only screen and (max-width: 600px) {

    body{
        display: block;
        padding: auto;
        
    }

    header{
        border: 1px solid rgb(247, 6, 6);
        margin: 2%;
    }
    
    .headline{
        border: 1px solid red;
        margin: 2%;
    }
    
    .imagens{
        border: 1px solid blue;
        margin: 2%;
    }
    
    .botao{
        background-color: #2d66b3;
        border-radius: 5px;
        margin: 2%;
        padding-top: 100px;
        padding-bottom: 100px;
        text-align: center;
    }
    
    .botao button{
        background-color: #2d66b3;
        font-size: 25px;
        border: 2px solid white;
        border-radius: 7px;
        padding: 10px;
    }
    
    .botao button:hover{
        background-color: #0e4c9e;
        font-size: 25px;
        border: 2px solid rgb(240, 231, 110);
        border-radius: 5px;
        padding: 20px;
    }
    
    .botao a{
        color: white;
        text-decoration: none;
    
    }
    
    .fda{
        border: 1px solid green;
        margin: 2%;
        
    }
    
    .garantia{
        border: 1px solid violet;
        margin: 2%;
    }
    
    .botaocta{
        background-color: #0e4c9e;
        margin: 2%;
        font-size: 25px;
        border: 2px solid rgb(240, 231, 110);
        border-radius: 5px;
        padding: 20px;
    
    }
    
    .botaocta button{
        background-color: #2d66b3;
        font-size: 25px;
        border: 2px solid white;
        border-radius: 7px;
        padding: 10px;
    }
    
    .botaocta button:hover{
        background-color: #0e4c9e;
        font-size: 25px;
        border: 2px solid rgb(240, 231, 110);
        border-radius: 5px;
        padding: 20px;
    }
    
    .botaocta a{
        color: white;
        text-decoration: none;
    
    }
    .botaocta a{
        color: white;
        text-decoration: none;
    
    }
    
    
    
    .politica{
        border: 2px solid black;
        margin: 2%;
    }


}
*/


@media screen {
    
    body{
        display: flex;
        flex-flow: column wrap;
        text-align: center;
        justify-content: space-between;
        font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
    }

    h1{
        font-size: 60px;
    }

    h2{
        font-size: 50px;
    }
    /*_________________________________________*/
    .topo{
        
        display: flex;
        justify-content: center;
        margin: 2%;
    }

    header img{
        height: 350px;
    }

    .headline{
        
        margin: 2%;
    }
    /*_________________________________________*/
    .imagens{
        
        background-color: #e8f0f5;
        margin: 2%;
    }

    .imagens img{
        height: 350px;
    }
    /*_________________________________________*/
    .botao{
        background-color: #2d66b3;
        border-radius: 5px;
        margin: 2%;
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    }

    .botao button{
        background-color: #fcb22e;
        font-size: 35px;
        border-radius: 10px;
        padding: 10px;
    }

    .botao button:hover{
        background-color: #f3cc88;
        font-size: 35px;
        padding: 5px;
        border-radius: 10px;
        padding: 20px;
    }

    .botao a{
        color: black;
        font-weight: bold;
        text-decoration: none;

    }
    /*_________________________________________*/
    .fda{
        
        margin: 2%;
        
    }

    .fda img{
        height: 150px;
    }

    .garantia{
        
        margin: 2%;
    }

    .garantia img{
        height: 200px;
    }
    /*_________________________________________*/
    .botaocta{
        background-color: #2d66b3;
        border-radius: 5px;
        margin: 2%;
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    }

    .botaocta button{
        background-color: #fcb22e;
        font-size: 35px;
        border-radius: 10px;
        padding: 10px;
    }

    .botaocta button:hover{
        background-color: #f3cc88;
        font-size: 35px;
        padding: 5px;
        border-radius: 10px;
        padding: 20px;
    }

    .botaocta a{
        color: black;
        font-weight: bold;
        text-decoration: none;

    }
    /*_________________________________________*/


    .politica{
        border: 2px solid black;
        margin: 2%;
        padding-bottom: 2px;
        margin-bottom: 1px;
    }
}

