*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    justify-content: space-between;

}
header{
    border: 1px solid rgb(247, 6, 6);
    margin: 2%;
}

.headline{
    border: 1px solid red;
    margin: 2px;
}

.imagens{
    border: 1px solid blue;
    margin: 2%;
}

.botao{
    border: 1px solid green;
    margin: 2%;
}

.fda{
    border: 1px solid green;
    margin: 2%;
}

.garantia{
    border: 1px solid violet;
    margin: 2%;
}

.botaocta{
    border: 2px solid black;
}



.politica{
    border: 2px solid black;
}