

header{
    border: 2px solid black;
}

.headline{
    border: 2px solid black;
}

.imagens{
    border: 2px solid black;
}

.botao{
    border: 2px solid black;
}

.fda{
    border: 2px solid black;
}

.garantia{
    border: 2px solid black;
}

.botaocta{
    border: 2px solid black;
}

.politica{
    border: 2px solid black;
}